version: '3'

services:
  grafana:
    image: grafana/grafana:7.0.0
    user: "${UID}:${GID}"
    depends_on:
      - prometheus
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - ./grafana/conf:/etc/grafana/provisioning
      - ./grafana/data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GF_ADMIN_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false

  prometheus:
    image: prom/prometheus:v2.19.2
    user: "${UID}:${GID}"
    depends_on:
      - node_exporter
    restart: unless-stopped
    ports:
      - 9090:9090
    volumes:
      - ./prometheus/conf:/etc/prometheus/
      - ./prometheus/data:/prometheus
    command: ['--config.file=/etc/prometheus/prometheus.yml']

  alertmanager:
    image: prom/alertmanager:v0.21.0
    restart: unless-stopped
    ports:
      - 9093:9093
    volumes:
      - ./alertmanager/:/etc/alertmanager/
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--storage.path=/alertmanager'

  smokeping:
    image: linuxserver/smokeping:arm32v7-latest
    restart: unless-stopped
    ports:
      - 8088:80
    volumes:
      - ./smokeping/conf:/config
      - ./smokeping/data:/data
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Kyiv

  alertmanagerbot:
    image: andreiker/alertmanager-bot-arm:latest
    restart: unless-stopped
    environment:
      - ALERTMANAGER_URL=http://alertmanager:9093
      - LISTEN_ADDR=0.0.0.0:8187
      - BOLT_PATH=/data/bot.db
      - STORE=bolt
      - TELEGRAM_ADMIN=${TELEGRAM_ADMIN}
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - TEMPLATE_PATHS=/etc/alertmanagerbot/default.tmpl
    volumes:
      - ./alertmanagerbot/:/etc/alertmanagerbot/
      - /srv/monitoring/alertmanager-bot:/data
    ports:
      - 8187

  blackbox:
    image: prom/blackbox-exporter:v0.17.0
    restart: unless-stopped
    privileged: true
    volumes: 
      - ./blackbox/:/config
    ports: 
      - 9115
    command: ['--config.file=/config/blackbox.yml']

  node_exporter:
    image: prom/node-exporter:v1.0.1
    restart: unless-stopped
    expose:
      - 9100
    extra_hosts:
      - "tranmission:192.168.1.2"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - --collector.filesystem.ignored-mount-points
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"

  mikrotik_exporter:
    image: andreiker/mikrotik-exporter-arm:latest
    restart: unless-stopped
    expose:
      - 9436
    volumes:
      - ./mikrotik/conf:/app/conf/

  transmission_exporter:
    image: andreiker/transmission-exporter-arm:latest
    restart: unless-stopped
    expose:
      - 19091
    environment:
      - TRANSMISSION_ADDR=${TRANSMISSION_ADDR}
      - TRANSMISSION_USERNAME=${TRANSMISSION_USERNAME}
      - TRANSMISSION_PASSWORD=${TRANSMISSION_PASSWORD}
      - WEB_ADDR=${WEB_ADDR}
      - WEB_PATH=${WEB_PATH}

  cadvisor:
    image: andreiker/cadvisor-arm:latest
    restart: unless-stopped
    expose:
      - 8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    command:
      - --global_housekeeping_interval=30s
      - --housekeeping_interval=5s
      - --storage_duration=1m0s
